.basket {
  &__header {
    @include grid-basket;
    padding-top: 1rem;
    border-bottom: 2px solid $border-color;
    @media screen and(max-width: 450px) {
      &__color{
        display: none;
      } 
    }
    &__designation, &__color,
    &__price {
      text-transform: uppercase;
    }
    &__price {
      text-align: center;
    }

  }
  &__product {
    @include grid-basket;
    grid-template-areas: "img product-name color price";
    @media screen and(max-width: 450px) {
      &__color{
        display: none;
      }
      grid-template-areas: "img product-name price";
    }
    &__img {
      width: 50px;
      grid-area: img;
    }
    &__name {
      grid-area: product-name;
      line-height: 2.5rem;
    }
    &__color{
      grid-area: color;
      line-height: 2.5rem;
    }
    &__price {
      grid-area: price;
      line-height: 2.5rem;
      text-align: end;
    }
  }
  &__total {
    @include total;
  }
  &__contact {
    &__form {
      display: flex;
      flex-direction: column;
      margin: 20px 0px;

      &__input {
        @include input;
        &__valid{
          @include input;
          border-color: green;
          background-color: rgb(196, 238, 196);
        }
        &__invalid{
          @include input;
          border-color: red;
          background-color: rgb(243, 182, 182);
        }
      }
    }
    &__buttons {
      display: flex;
      justify-content: center;
      & *{
        @include button;
      }
    }
  }
}
