.bill {
  border: solid 2px $border-color;
  &__id {
    padding: 2vh 2vw;
  }
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2vh 10vw;
    &__seller {
      display: flex;
      flex-direction: column;
    }
    &__customer {
      display: flex;
      flex-direction: column;
    }
  }
  &__products {
    margin: 2vh 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: solid 2px $border-color;
    &__product,
    &__titles {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: solid 1px $border-color;
      &__name,
      &__price {
        max-height: 2rem;
        overflow: hidden;
      }
      &__name{
        padding: 1vh 2vw 1vh 4vw;
        width: 75%;
      }
      &__price {
        width: 25%;
        padding: 1vh 2vw 1vh 0vw;
        border-left: solid 1px $border-color;
        text-align: end;
      }
    }
    &__titles {
      font-weight: 600;
    }
  }
  &__total {
    @include total;
    border-top: solid 1px $border-color;
  }
}
