header{
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%; 
    display: flex;
    justify-content: space-around;
}

.header__link{
    display: flex;
    &__home{
        @include header-link;
    }
    &__basket{
        @include header-link;
    }
}

#basket-icon{
    @extend %fa-icon;
    @extend .fas;
  
    &:before {
    content: fa-content($fa-var-shopping-cart);
    }
}

#home-icon{
    @extend %fa-icon;
    @extend .fas;
  
    &:before {
    content: fa-content($fa-var-home);
    }
}