.list {
  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    &__card {
      display: block;
      text-decoration: none;
      color: $text-color;
      width: $list-card-width;
      height: $list-card-height;
      padding-bottom: 1em;
      margin: 1rem;
      transition: 0.5s;
      &__img {
        width: 100%;
        height: 80%;
      }
      &__description{
            padding: 0.5rem 1rem;
          &__name{
              text-transform: capitalize;
            }
            &__price{
                font-weight: 600;
            }
      }
      &:hover {
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }
    }
  }
}
