.product{
    
    &__card{     
        display: flex;
        justify-content: center;
        @media screen and(max-width: 650px) {
            flex-wrap: wrap;
        }     
        &__img{
            width: 375px;
            height: 275px;
        }
        &__description{
            padding: 2rem;
            & *{
                padding: 0.5rem;
            }
            &__name{
                font-family: $title-font-family;
                font-size: 1.5rem;
                text-transform: capitalize;
            }
            &__price{
                font-weight: 600;
            }
            &__buttons{
                display: flex;
                justify-content: center;
                &__buy{
                    @include button;
                    margin: 0rem 1rem;
                }
            }
        }
    }
}