@mixin button {
  margin: 2vw;
  padding: 1vh 1vw;
  border: 1px solid grey;
  border-radius: 10px;
  transition: all 0.7s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: lightgrey;
  }
}
