@mixin grid-basket{
    display: grid;
    grid-template-columns: 50px auto 100px 100px;
    gap: 10px;
    @media screen and(max-width: 450px) {
      grid-template-columns: 50px auto 100px;
    }
  }