@mixin header-link {
    margin: 0rem 1rem;
    color: grey;
    font-size: 1.3rem;
    transition: color 0.2s ease-in-out;
    line-height: $title-font-size;
    &:hover{
        cursor: pointer;
        color: black;
    }
    
}