@mixin total{
    line-height: 2.5rem;
    margin: auto;
    font-size: 1.3rem;
    text-align: end;
    padding-right: 2rem;
    text-transform: uppercase;
    border-top: 2px solid $border-color;
    width: 100%;
}