body{
    font-family: $body-font-family;

}
h1{
    font-size: $title-font-size;
    font-family: $title-font-family;
    font-weight: 700;
    text-transform: uppercase;
    &:hover{
        cursor: pointer;
    }
}

h2{
    font-size: $title-font-size *0.5;
    font-family: $title-font-family;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: $title-font-size*0.5;
}


main{
    max-width: $app-width;
    margin: auto;
    margin-top: $title-font-size *1.5;
}