/*Import des polices google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap');
/*Police pour le titre*/
$title-font-family: 'Bebas Neue', sans-serif;
$title-font-size: 3.5rem;
$text-color: black;
/*Police pour le contenu*/
$body-font-family: 'Open Sans', sans-serif;
/* Largeur des pages */
$app-width: 1000px; 
/*Taille des cartes*/
$list-card-height: 300px;
$list-card-width: 300px;
/*Couleurs*/
$border-color: grey;